body{
	margin: 0;
	padding: 0;
	background: url("../images/hbu03.jpg");
	background-size: cover;
	font-family: sans-serif;	
}
h2
{
	margin: 0;
	padding: 0 0 20px;
	color: #efed40;
	text-align: center;
}
td
{
	margin: 0;
	padding: 0;
	color: #fff;
}
.registerBox
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 590px;
	padding: 20px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
}
.fm
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;	
}
.registerBox p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
	
}
.registerBox input
{
	width: 100%;
	margin-bottom: 20px;	
}
.registerBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #ff267e;
	cursor: pointer;
	border-radius: 20px;
}
.registerBox input[type="submit"]:hover
{
	background: #efed40;
	color: #262626;
}