<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbu.dao.TConferenceRoomAppointmentMapper" >
  <resultMap id="BaseResultMap" type="com.hbu.entity.TConferenceRoomAppointment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="BIGINT" />
    <result column="conference_room_id" property="conferenceRoomId" jdbcType="BIGINT" />
    <result column="max_num" property="maxNum" jdbcType="INTEGER" />
    <result column="theme" property="theme" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="starttime_code" property="starttimeCode" jdbcType="INTEGER" />
    <result column="endtime_code" property="endtimeCode" jdbcType="INTEGER" />
    <result column="examine_status" property="examineStatus" jdbcType="INTEGER" />
    <result column="examine_reason" property="examineReason" jdbcType="VARCHAR" />
    <result column="isdel" property="isdel" jdbcType="BIT" />
  </resultMap>
  <resultMap id="ModelResultMap" type="com.hbu.models.OwnAppointModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="BIGINT" />
    <result column="conference_room_id" property="conferenceRoomId" jdbcType="BIGINT" />
    <result column="max_num" property="maxNum" jdbcType="INTEGER" />
    <result column="theme" property="theme" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="starttime_code" property="starttimeCode" jdbcType="INTEGER" />
    <result column="endtime_code" property="endtimeCode" jdbcType="INTEGER" />
    <result column="examine_status" property="examineStatus" jdbcType="INTEGER" />
    <result column="examine_reason" property="examineReason" jdbcType="VARCHAR" />
    <result column="isdel" property="isdel" jdbcType="BIT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hbu.entity.TConferenceRoomAppointment" extends="BaseResultMap" >
    <result column="specialneeds" property="specialneeds" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, username, number, conference_room_id, max_num, theme, date, time, starttime_code, 
    endtime_code, examine_status, examine_reason, isdel
  </sql>
  <sql id="Blob_Column_List" >
    specialneeds
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.hbu.entity.TConferenceRoomAppointmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_conference_room_appointment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hbu.entity.TConferenceRoomAppointmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_conference_room_appointment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_conference_room_appointment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_conference_room_appointment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hbu.entity.TConferenceRoomAppointmentExample" >
    delete from t_conference_room_appointment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hbu.entity.TConferenceRoomAppointment"  useGeneratedKeys="true" keyProperty="id">
    insert into t_conference_room_appointment (id, username, number, 
      conference_room_id, max_num, theme, 
      date, time, starttime_code, 
      endtime_code, examine_status, examine_reason, 
      isdel, specialneeds)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{number,jdbcType=BIGINT}, 
      #{conferenceRoomId,jdbcType=BIGINT}, #{maxNum,jdbcType=INTEGER}, #{theme,jdbcType=VARCHAR}, 
      #{date,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, #{starttimeCode,jdbcType=INTEGER}, 
      #{endtimeCode,jdbcType=INTEGER}, #{examineStatus,jdbcType=INTEGER}, #{examineReason,jdbcType=VARCHAR}, 
      #{isdel,jdbcType=BIT}, #{specialneeds,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hbu.entity.TConferenceRoomAppointment" >
    insert into t_conference_room_appointment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="conferenceRoomId != null" >
        conference_room_id,
      </if>
      <if test="maxNum != null" >
        max_num,
      </if>
      <if test="theme != null" >
        theme,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="starttimeCode != null" >
        starttime_code,
      </if>
      <if test="endtimeCode != null" >
        endtime_code,
      </if>
      <if test="examineStatus != null" >
        examine_status,
      </if>
      <if test="examineReason != null" >
        examine_reason,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
      <if test="specialneeds != null" >
        specialneeds,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=BIGINT},
      </if>
      <if test="conferenceRoomId != null" >
        #{conferenceRoomId,jdbcType=BIGINT},
      </if>
      <if test="maxNum != null" >
        #{maxNum,jdbcType=INTEGER},
      </if>
      <if test="theme != null" >
        #{theme,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="starttimeCode != null" >
        #{starttimeCode,jdbcType=INTEGER},
      </if>
      <if test="endtimeCode != null" >
        #{endtimeCode,jdbcType=INTEGER},
      </if>
      <if test="examineStatus != null" >
        #{examineStatus,jdbcType=INTEGER},
      </if>
      <if test="examineReason != null" >
        #{examineReason,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=BIT},
      </if>
      <if test="specialneeds != null" >
        #{specialneeds,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hbu.entity.TConferenceRoomAppointmentExample" resultType="java.lang.Integer" >
    select count(*) from t_conference_room_appointment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_conference_room_appointment
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=BIGINT},
      </if>
      <if test="record.conferenceRoomId != null" >
        conference_room_id = #{record.conferenceRoomId,jdbcType=BIGINT},
      </if>
      <if test="record.maxNum != null" >
        max_num = #{record.maxNum,jdbcType=INTEGER},
      </if>
      <if test="record.theme != null" >
        theme = #{record.theme,jdbcType=VARCHAR},
      </if>
      <if test="record.date != null" >
        date = #{record.date,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=VARCHAR},
      </if>
      <if test="record.starttimeCode != null" >
        starttime_code = #{record.starttimeCode,jdbcType=INTEGER},
      </if>
      <if test="record.endtimeCode != null" >
        endtime_code = #{record.endtimeCode,jdbcType=INTEGER},
      </if>
      <if test="record.examineStatus != null" >
        examine_status = #{record.examineStatus,jdbcType=INTEGER},
      </if>
      <if test="record.examineReason != null" >
        examine_reason = #{record.examineReason,jdbcType=VARCHAR},
      </if>
      <if test="record.isdel != null" >
        isdel = #{record.isdel,jdbcType=BIT},
      </if>
      <if test="record.specialneeds != null" >
        specialneeds = #{record.specialneeds,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update t_conference_room_appointment
    set id = #{record.id,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      number = #{record.number,jdbcType=BIGINT},
      conference_room_id = #{record.conferenceRoomId,jdbcType=BIGINT},
      max_num = #{record.maxNum,jdbcType=INTEGER},
      theme = #{record.theme,jdbcType=VARCHAR},
      date = #{record.date,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=VARCHAR},
      starttime_code = #{record.starttimeCode,jdbcType=INTEGER},
      endtime_code = #{record.endtimeCode,jdbcType=INTEGER},
      examine_status = #{record.examineStatus,jdbcType=INTEGER},
      examine_reason = #{record.examineReason,jdbcType=VARCHAR},
      isdel = #{record.isdel,jdbcType=BIT},
      specialneeds = #{record.specialneeds,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_conference_room_appointment
    set id = #{record.id,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      number = #{record.number,jdbcType=BIGINT},
      conference_room_id = #{record.conferenceRoomId,jdbcType=BIGINT},
      max_num = #{record.maxNum,jdbcType=INTEGER},
      theme = #{record.theme,jdbcType=VARCHAR},
      date = #{record.date,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=VARCHAR},
      starttime_code = #{record.starttimeCode,jdbcType=INTEGER},
      endtime_code = #{record.endtimeCode,jdbcType=INTEGER},
      examine_status = #{record.examineStatus,jdbcType=INTEGER},
      examine_reason = #{record.examineReason,jdbcType=VARCHAR},
      isdel = #{record.isdel,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hbu.entity.TConferenceRoomAppointment" >
    update t_conference_room_appointment
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=BIGINT},
      </if>
      <if test="conferenceRoomId != null" >
        conference_room_id = #{conferenceRoomId,jdbcType=BIGINT},
      </if>
      <if test="maxNum != null" >
        max_num = #{maxNum,jdbcType=INTEGER},
      </if>
      <if test="theme != null" >
        theme = #{theme,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="starttimeCode != null" >
        starttime_code = #{starttimeCode,jdbcType=INTEGER},
      </if>
      <if test="endtimeCode != null" >
        endtime_code = #{endtimeCode,jdbcType=INTEGER},
      </if>
      <if test="examineStatus != null" >
        examine_status = #{examineStatus,jdbcType=INTEGER},
      </if>
      <if test="examineReason != null" >
        examine_reason = #{examineReason,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=BIT},
      </if>
      <if test="specialneeds != null" >
        specialneeds = #{specialneeds,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hbu.entity.TConferenceRoomAppointment" >
    update t_conference_room_appointment
    set username = #{username,jdbcType=VARCHAR},
      number = #{number,jdbcType=BIGINT},
      conference_room_id = #{conferenceRoomId,jdbcType=BIGINT},
      max_num = #{maxNum,jdbcType=INTEGER},
      theme = #{theme,jdbcType=VARCHAR},
      date = #{date,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      starttime_code = #{starttimeCode,jdbcType=INTEGER},
      endtime_code = #{endtimeCode,jdbcType=INTEGER},
      examine_status = #{examineStatus,jdbcType=INTEGER},
      examine_reason = #{examineReason,jdbcType=VARCHAR},
      isdel = #{isdel,jdbcType=BIT},
      specialneeds = #{specialneeds,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hbu.entity.TConferenceRoomAppointment" >
    update t_conference_room_appointment
    set username = #{username,jdbcType=VARCHAR},
      number = #{number,jdbcType=BIGINT},
      conference_room_id = #{conferenceRoomId,jdbcType=BIGINT},
      max_num = #{maxNum,jdbcType=INTEGER},
      theme = #{theme,jdbcType=VARCHAR},
      date = #{date,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      starttime_code = #{starttimeCode,jdbcType=INTEGER},
      endtime_code = #{endtimeCode,jdbcType=INTEGER},
      examine_status = #{examineStatus,jdbcType=INTEGER},
      examine_reason = #{examineReason,jdbcType=VARCHAR},
      isdel = #{isdel,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>


    <!--lst-->
    <!-- （0：未处理；1：管理员审核通过；2：系主任审核通过；3：管理员审核未通过 ;4:系主任审核未通过...2表示预约成功） -->
    <update id="updateByPrimaryKey1" parameterType="java.lang.Integer" >
   update t_conference_room_appointment
   set examine_status = 1
   where id = #{id,jdbcType=INTEGER} and  isdel = 1
 </update>
    <update id="nopass1" parameterType="com.hbu.entity.TConferenceRoomAppointment" >
update t_conference_room_appointment
   set examine_status = 3 , examine_reason = #{examineReason,jdbcType=VARCHAR}
   where id = #{id,jdbcType=INTEGER} and  isdel = 1
 </update>
    <update id="updateByPrimaryKey2" parameterType="java.lang.Integer" >
   update t_conference_room_appointment
   set examine_status = 2
   where id = #{id,jdbcType=INTEGER} and  isdel = 1
 </update>
    <select id="selectByNumber" parameterType="java.lang.Long" resultMap="BaseResultMap"  >
   select * from t_conference_room_appointment
   where number = #{number,jdbcType=BIGINT} and  isdel = 1
 </select>
    <select id="selectByNumber2" parameterType="java.lang.Long" resultMap="ModelResultMap">
   select * from t_conference_room_appointment
   where number = #{number,jdbcType=BIGINT} and  isdel = 1
   order by id desc
 </select>
    <select id="selectAll" resultMap="BaseResultMap" >
   select * from t_conference_room_appointment where examine_status = 0 and  isdel = 1;
 </select>
    <select id="selectAll2" resultMap="BaseResultMap" >
   select * from t_conference_room_appointment where examine_status = 1 and  isdel = 1;
 </select>
    <select id="showNoPass" resultMap="BaseResultMap" >
   select * from t_conference_room_appointment where examine_status = 3 and  isdel = 1;
 </select>
  <select id="selectByDateRoomId"  resultMap="BaseResultMap" >
 select * from ref_conference  where date = #{date,jdbcType=VARCHAR} and conference_room_id= #{conferenceRoomId,jdbcType=BIGINT}
 and  isdel = 1
</select>
</mapper>