<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbu.dao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.hbu.entity.UserInfo" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="user_number" property="userNumber" jdbcType="VARCHAR" />
    <result column="depart_id" property="departId" jdbcType="INTEGER" />
    <result column="sex_id" property="sexId" jdbcType="SMALLINT" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_card" property="userCard" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_signature" property="userSignature" jdbcType="VARCHAR" />
    <result column="register_time" property="registerTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, name, user_number, depart_id, sex_id, birthday, user_phone, user_card, user_name, 
    user_password, user_signature, register_time
  </sql>
  
<!--   这里是登录的第五步  resultMap是结果类型参数与上面的设置对应    parameterType是入参类型参数-->
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hbu.entity.UserInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_userinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_userinfo
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_userinfo
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hbu.entity.UserInfoExample" >
    delete from t_userinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hbu.entity.UserInfo" >
    insert into t_userinfo (user_id, name, user_number, 
      depart_id, sex_id, birthday, 
      user_phone, user_card, user_name, 
      user_password, user_signature, register_time
      )
    values (#{userId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{userNumber,jdbcType=VARCHAR}, 
      #{departId,jdbcType=INTEGER}, #{sexId,jdbcType=SMALLINT}, #{birthday,jdbcType=VARCHAR}, 
      #{userPhone,jdbcType=VARCHAR}, #{userCard,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userPassword,jdbcType=VARCHAR}, #{userSignature,jdbcType=VARCHAR}, #{registerTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hbu.entity.UserInfo" >
    insert into t_userinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="userNumber != null" >
        user_number,
      </if>
      <if test="departId != null" >
        depart_id,
      </if>
      <if test="sexId != null" >
        sex_id,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="userCard != null" >
        user_card,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
      <if test="userSignature != null" >
        user_signature,
      </if>
      <if test="registerTime != null" >
        register_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="userNumber != null" >
        #{userNumber,jdbcType=VARCHAR},
      </if>
      <if test="departId != null" >
        #{departId,jdbcType=INTEGER},
      </if>
      <if test="sexId != null" >
        #{sexId,jdbcType=SMALLINT},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userCard != null" >
        #{userCard,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userSignature != null" >
        #{userSignature,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null" >
        #{registerTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hbu.entity.UserInfoExample" resultType="java.lang.Integer" >
    select count(*) from t_userinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_userinfo
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.userNumber != null" >
        user_number = #{record.userNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.departId != null" >
        depart_id = #{record.departId,jdbcType=INTEGER},
      </if>
      <if test="record.sexId != null" >
        sex_id = #{record.sexId,jdbcType=SMALLINT},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=VARCHAR},
      </if>
      <if test="record.userPhone != null" >
        user_phone = #{record.userPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.userCard != null" >
        user_card = #{record.userCard,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userPassword != null" >
        user_password = #{record.userPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.userSignature != null" >
        user_signature = #{record.userSignature,jdbcType=VARCHAR},
      </if>
      <if test="record.registerTime != null" >
        register_time = #{record.registerTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_userinfo
    set user_id = #{record.userId,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      user_number = #{record.userNumber,jdbcType=VARCHAR},
      depart_id = #{record.departId,jdbcType=INTEGER},
      sex_id = #{record.sexId,jdbcType=SMALLINT},
      birthday = #{record.birthday,jdbcType=VARCHAR},
      user_phone = #{record.userPhone,jdbcType=VARCHAR},
      user_card = #{record.userCard,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_password = #{record.userPassword,jdbcType=VARCHAR},
      user_signature = #{record.userSignature,jdbcType=VARCHAR},
      register_time = #{record.registerTime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hbu.entity.UserInfo" >
    update t_userinfo
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="userNumber != null" >
        user_number = #{userNumber,jdbcType=VARCHAR},
      </if>
      <if test="departId != null" >
        depart_id = #{departId,jdbcType=INTEGER},
      </if>
      <if test="sexId != null" >
        sex_id = #{sexId,jdbcType=SMALLINT},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userCard != null" >
        user_card = #{userCard,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userSignature != null" >
        user_signature = #{userSignature,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null" >
        register_time = #{registerTime,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hbu.entity.UserInfo" >
    update t_userinfo
    set name = #{name,jdbcType=VARCHAR},
      user_number = #{userNumber,jdbcType=VARCHAR},
      depart_id = #{departId,jdbcType=INTEGER},
      sex_id = #{sexId,jdbcType=SMALLINT},
      birthday = #{birthday,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_card = #{userCard,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_signature = #{userSignature,jdbcType=VARCHAR},
      register_time = #{registerTime,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>